

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



*{


    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


body{

background-color:  hsl(235, 18%, 26%);

    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center ;
    align-items: center ;

}

.main{
     
    width: 40rem;
    height: 29rem;
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;
    display: flex;
  
    
    
   
}      

.main h1{


    font-family: "Inconsolata", monospace;
    font-weight: 800;
    font-size: 2.2rem;

color: hsl(235, 18%, 26%);
    
   
}

.main p{

    font-family: "Inconsolata", monospace;
         
      color: hsl(235, 18%, 26%);
      font-weight: 500;

}
.lines {
 
       font-family: "Inconsolata", monospace;
    color: hsl(235, 18%, 26%);
    display: flex;
  align-items: flex-start;
  gap: 0.7rem;
  line-height: 1.6;
    
}

.main h3 {
  font-family: "Inconsolata", monospace;
    font-weight: 900;
    font-size: 1rem;
    margin-bottom: 0.3rem;
    margin-top: 1.2rem;

color: hsl(235, 18%, 26%);
    

}
.email {
 width: 90%;
 padding: 0.5rem;
 border-radius: 1px solid white;
 margin-bottom: 1rem;
 
     outline: none;


}




.btn {
  width: 90%;
  padding: 0.7rem;
  background-color: hsl(234, 29%, 20%);
  color: white;
  border-radius: 0.3rem;
  border: none;
}
.btn:hover {
  background: linear-gradient(135deg, #ff7a9e, #ff9f5a);
}

 .left {
  width: 90%;
}
.right {
  width: 65%;
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;

        
}


ul {
  list-style: none;
  margin: 1rem 0;

}

li {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  line-height: 1rem;
}




/* ----------------------------------------------------- */



.main-second{
     
    width: 21rem;
    height: 21rem;
    background-color: white;
    border-radius: 2rem;
    padding: 2rem;
    display: none;
    
  
    
    
   
}      
.main-second h1 {


    color:  hsl(234, 29%, 20%);
    font-family: "Inconsolata", monospace;
    font-weight:900;
    font-size: 2.3rem;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
}
.main-second p{


    color:  hsl(234, 29%, 20%);
    font-weight: 400;
}

.main-second span{

   color:  hsl(234, 29%, 20%);
    font-weight: 900;
    font-family: "Inconsolata", monospace;
}

.main-second  .image img { 

   width: 2.3rem;
      

}
.main-second .btn{

  margin-top: 1rem;
}


.invalid{

  font-size: 0.8rem;
 
  margin-bottom: 0.3rem;
}


.error {
  background: #ffe5e5;
  border-color: #ff6b6b;
}






@media (max-width: 768px) {
   

  

.main {
    flex-direction: column-reverse;
    width: 95%;
    height: auto;
  }

   .right {
    width: 100%;
  }

  .right img {
    width:100%;
    height: 20rem;   /* yahan game change hota hai */
    object-fit: cover;
    border-radius: 1rem;
  }



.main-second{
     

    height: 95%;
}

.image img{


  margin-bottom: 5rem;
}
.button-second{


margin-top: 10rem;


}
.main-second  .image img { 

   width: 4rem;
 
      

}




}
